{% load static %}

<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>TOMPWG</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css'%}"/>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong></strong> </a>
					<nav id="nav">
						<a href="index.html"></a>
						<a href="generic.html"></a>
						<a href="elements.html"></a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">

				<div class="inner">
					<header>
						<h1>{{page.title}}</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-car"></span>
							<h3>Travel Operators</h3>
							<p>Suspendisse amet ullamco</p>
						</div>

						<div>
							<span class="icon fa-camera"></span>
							<h3>MaaS Providers</h3>
							<p>Class aptent taciti ad litora</p>
						</div>

						<div>
							<span class="icon fa-bug"></span>
							<h3>Cities</h3>
							<p>Nulla vitae mauris non felis</p>
						</div>

					</div>

					<footer>
						<a href="#" class="button">Get Started</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="{% static 'images/pic01.jpg' %}" alt="Pic 01" />
							</div>
							<header>
								<h3>TOMP-API</h3>
							</header>
							<p>Morbi in sem quis dui placerat ornare. Pellentesquenisi<br />euismod in, pharetra a, ultricies in diam sed arcu. Cras<br />consequat  egestas augue vulputate.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="{% static 'images/pic02.jpg' %}" alt="Pic 02" />
							</div>
							<header>
								<h3>TOMP-CDS</h3>
							</header>
							<p>Pellentesque fermentum dolor. Aliquam quam lectus<br />facilisis auctor, ultrices ut, elementum vulputate, nunc<br /> blandit ellenste egestagus commodo.</p>
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form id = "contact_form" action = "/contact/" method = "POST">
						{% csrf_token %}
						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><button class="button alt" type="submit" >Send Message</button></li>
<!--							<li><input type="submit"> Submit</li>-->
						</ul>
					</form>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js'%}"></script>
			<script src="{% static 'js/skel.min.js'%}"></script>
			<script src="{% static 'js/util.js'%}"></script>
			<script src="{% static 'js/main.js'%}"></script>
<!--			<script>contact_form.onsubmit = async (e) => {-->
<!--					e.preventDefault();-->
<!--					let response = await fetch('/contact/', {-->
<!--					  method: 'POST',-->
<!--					  body: new FormData(formElem)-->
<!--					});-->
<!--					let result = await response.json();-->
<!--					alert(result.message);-->
<!--				  };</script>-->
<!--			<script>-->
<!--				function contact()-->
<!--				{-->
<!--				var email = $('#email').val()-->
<!--				var msg = $('#message').val()-->
<!--				var name = $('#name').val()-->
<!--				var jsonString = JSON.stringify({-->
<!--				 "name": name,-->
<!--				 "message": msg,-->
<!--				 "email": email,-->
<!--				 })-->

<!--				$.ajax({-->
<!--				 type: "POST",-->
<!--				 url: "/contact/",-->
<!--				 dataType: "json",-->
<!--				 contentType: "application/json; charset=utf-8",-->
<!--				 data: jsonString,-->
<!--				 success: function (data) {-->
<!--				 alert("Sent contact info.");-->
<!--				 },-->
<!--				 failure: function(error) {-->
<!--				 alert("Failed.");-->
<!--				 }-->
<!--				 })-->
<!-- 				}-->
<!--			</script>-->

	</body>
</html>